/* CSS Variaveis */
:root {
  --primary: rgb(255, 253, 253);
  --dark: rgb(78, 72, 72);
  --light: rgb(17, 16, 16);
  --shadow: 0 1px 5px rgba(148, 82, 233, 0.945);
}

section{
font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
color: rgb(19, 18, 19);
line-height: 1.6;
}

.principal{
font-family: 'Times New Roman', Times, serif, sans-serif;
line-height: 2.0;
font-size:21px;
color: white; text-shadow: black 0.1em 0.1em 0.2em
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}


body {
  background: #ccc;
  margin: 30px 60px;
  line-height: 1.4;
  
}

body {
  
  background-color: rgb(white);
  font-family: 'Times New Roman', 'Times', Arial ', 'Arial, sans-serif;
     }
     

     #cabecalho h1 {
     text-align: center;
     color: #194264;
     background: #ccc;
     }

     #ImagemGeral {
      width:  200 px ;
      align-items : center;
        }



#navbar {
  display: flex;
    width: 100%;
   justify-content: space-between;
}

#a {
  font-family: 'Times New Roman', 'Times', Arial ', 'Arial, sans-seri;
  color: blue;
  text-decoration: unset;
}

#tituloDestaque {
  text-align: center;
  display: flex;
  color: #194264;
}

#textorecepcao p{
  text-align: justify;
  display: flex;
  color: #194264;
  font-size: 20px;
}

p{

  text-align: justify;
  
}

p{font-size: 16px;}


  /*Quem Somos*/
#dadosquemsomos{
  display:flex;
  max-width: 100%;
}

.debora{
  border: gray 1px solid;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: gray 2px 2px 3px;
  }

.israel{
  border: gray 1px solid;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: gray 2px 2px 3px;
  }

.lucas{
  border: gray 1px solid;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: gray 2px 2px 3px;
  }

.rosineide{
  border: gray 1px solid;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: gray 2px 2px 3px;
 }

.sabrina{
  border: gray 1px solid;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: gray 2px 2px 3px;
  }


.avatar{
  text-align: center;
  margin-top: 4px;
}

.imagemperfil{
height: 150px;
width: 150px;
border-radius: 50%;
border: 2px solid grey
}

h4{
text-align: center;
font-size: 20px;
color: #194264;
}

h5{
text-align: center;
font-size: 16px;
color: #194264;  
}

.sobre{
font-size: 16px;
font-family: 'Times New Roman', 'Times', Arial ', 'Arial, sans-seri;
color: #194264;
text-align: center;
}

.linkedin{
width: 10%;
}


/*Saiba Mais*/


h2{
text-align: center;
color: #194264;
font-size: 20px
}

h3{
  text-align: center;
  color: #194264;
  font-size: 18px


}
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}


.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
background: var(--primary);
display: block;
text-decoration: none;
padding: 0.8rem;
text-align: center;
color: black;
font-size: 1.1rem;
box-shadow: var(--shadow);
}

.main-nav a:hover {
background: var(--dark);
color: var(--light);
}

/* Top Container */
.top-container {
display: grid;
grid-gap: 20px;
grid-template-areas:
'showcase showcase top-box-a'
'showcase showcase top-box-b';
}

.top-container2 {
display: grid;
grid-gap: 20px;
grid-template-areas:
'showcase showcase top-box-a'
'showcase showcase top-box-b';
}

.top-container3 {
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background-image: url(https://radiomixfm.com.br/wp-content/uploads/2021/02/OMS-anuncia-que-novos-casos-da-COVID-19-e-o-menor-desde-setembro.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase2 {
  grid-area: showcase;
  min-height: 400px;
  background-image: url(https://www.nacionalidadeportuguesa.com.br/wp-content/uploads/2020/08/tech-visa-portugal.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase3 {
  grid-area: showcase;
  min-height: 400px;
  background-image: url(https://freepngimg.com/thumb/technology/32476-8-technology-transparent-image.png);
  background-size: cover;
  background-position: center;
  padding: -1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: var(--shadow);
}


.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: rgb(3, 3, 3);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

/* Top Box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}


/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}


/* Info */
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}


/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
  }
}
   